/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext, .popupquestion {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    /* Set this per specific class
    bottom: 125%;
    left: 50%;
     */
    margin-left: -80px;
}

/* Popup arrow */
.popup .popupquestion::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.popup .show-75 {
    visibility: visible;
    -webkit-animation: fadeIn-75 1s;
    animation: fadeIn-75 1s;
}

.popup .show-50 {
    visibility: visible;
    -webkit-animation: fadeIn-50 1s;
    animation: fadeIn-50 1s;
}

.popup .show-25 {
    visibility: visible;
    -webkit-animation: fadeIn-25 1s;
    animation: fadeIn-25 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* Adding custom fade in for < 1 opacity */
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn-75 {
    from {opacity: 0;}
    to {opacity: .75;}
}

@keyframes fadeIn-75 {
    from {opacity: 0;}
    to {opacity: .75 ;}
}

@-webkit-keyframes fadeIn-50 {
    from {opacity: 0;}
    to {opacity: .50;}
}

@keyframes fadeIn-50 {
    from {opacity: 0;}
    to {opacity: .50 ;}
}

@-webkit-keyframes fadeIn-25 {
    from {opacity: 0;}
    to {opacity: .25;}
}

@keyframes fadeIn-25 {
    from {opacity: 0;}
    to {opacity: .25 ;}
}